In [30]:
import pandas as pd
pd.set_option('max_colwidth', 400)
from sqlalchemy import create_engine
from pprint import pprint

In [31]:
csv_path="Resources/NY_Crashes.csv"
Data_df=pd.read_csv(csv_path)
Data_df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,9/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,3/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,6/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,9/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [32]:
#Drop unnecessary columns
Data2_df=Data_df[["CRASH DATE", "BOROUGH", "LATITUDE", "LONGITUDE", "NUMBER OF PERSONS INJURED",
                  "NUMBER OF PERSONS KILLED", "NUMBER OF PEDESTRIANS INJURED","NUMBER OF PEDESTRIANS KILLED",
                  "NUMBER OF CYCLIST INJURED","NUMBER OF CYCLIST KILLED", "NUMBER OF MOTORIST INJURED",
                  "NUMBER OF MOTORIST KILLED", "CONTRIBUTING FACTOR VEHICLE 1","VEHICLE TYPE CODE 1"]]

Data2_df.head()

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,VEHICLE TYPE CODE 1
0,9/11/2021,NaN,NaN,NaN,2.0,0.0,0,0,0,0,2,0,Aggressive Driving/Road Rage,Sedan
1,3/26/2022,NaN,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Pavement Slippery,Sedan
2,6/29/2022,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Sedan
3,9/11/2021,BROOKLYN,40.667202,-73.866500,0.0,0.0,0,0,0,0,0,0,Unspecified,Sedan
4,12/14/2021,BROOKLYN,40.683304,-73.917274,0.0,0.0,0,0,0,0,0,0,NaN,NaN

In [33]:
Data3_df=Data2_df.dropna()
Data3_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,VEHICLE TYPE CODE 1
3,9/11/2021,BROOKLYN,40.667202,-73.866500,0.0,0.0,0,0,0,0,0,0,Unspecified,Sedan
7,12/14/2021,BRONX,40.868160,-73.831480,2.0,0.0,0,0,0,0,2,0,Unspecified,Sedan
8,12/14/2021,BROOKLYN,40.671720,-73.897100,0.0,0.0,0,0,0,0,0,0,Driver Inexperience,Sedan
9,12/14/2021,MANHATTAN,40.751440,-73.973970,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Sedan
11,12/14/2021,QUEENS,40.675884,-73.755770,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048564,9/13/2016,QUEENS,40.712560,-73.896980,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Station Wagon/Sport Utility Vehicle
1048567,9/6/2016,STATEN ISLAND,40.629852,-74.121070,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1048568,8/21/2016,BRONX,40.838500,-73.905980,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Sedan
1048570,8/25/2016,MANHATTAN,40.757698,-73.969400,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Station Wagon/Sport Utility Vehicle
1048574,9/10/2016,MANHATTAN,40.746490,-74.001335,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Station Wagon/Sport Utility Vehicle

In [34]:
#Data4_df=Data3_df.loc[Data3_df["CRASH DATE"]>1/1/2022]


Data3_df = Data3_df.astype({"CRASH DATE": "datetime64"})
Data3_df.dtypes
Data3_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,VEHICLE TYPE CODE 1
3,2021-09-11,BROOKLYN,40.667202,-73.866500,0.0,0.0,0,0,0,0,0,0,Unspecified,Sedan
7,2021-12-14,BRONX,40.868160,-73.831480,2.0,0.0,0,0,0,0,2,0,Unspecified,Sedan
8,2021-12-14,BROOKLYN,40.671720,-73.897100,0.0,0.0,0,0,0,0,0,0,Driver Inexperience,Sedan
9,2021-12-14,MANHATTAN,40.751440,-73.973970,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Sedan
11,2021-12-14,QUEENS,40.675884,-73.755770,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048564,2016-09-13,QUEENS,40.712560,-73.896980,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Station Wagon/Sport Utility Vehicle
1048567,2016-09-06,STATEN ISLAND,40.629852,-74.121070,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1048568,2016-08-21,BRONX,40.838500,-73.905980,0.0,0.0,0,0,0,0,0,0,Turning Improperly,Sedan
1048570,2016-08-25,MANHATTAN,40.757698,-73.969400,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Station Wagon/Sport Utility Vehicle
1048574,2016-09-10,MANHATTAN,40.746490,-74.001335,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Station Wagon/Sport Utility Vehicle

In [35]:
mask = (Data3_df['CRASH DATE'] > "2022-01-01") & (Data3_df['CRASH DATE'] <= "2022-12-31")
Data4_df = Data3_df.loc[mask]
Data4_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,VEHICLE TYPE CODE 1
37,2022-07-12,BROOKLYN,40.663303,-73.960490,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Sedan
43,2022-04-24,BROOKLYN,40.642986,-74.016210,0.0,0.0,0,0,0,0,0,0,Unspecified,Station Wagon/Sport Utility Vehicle
44,2022-04-24,QUEENS,0.000000,0.000000,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Sedan
45,2022-04-24,BRONX,40.843906,-73.924130,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Taxi
46,2022-04-24,BRONX,40.894810,-73.861830,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003759,2022-09-05,QUEENS,40.666695,-73.767136,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Pick-up Truck
1004169,2022-09-03,BROOKLYN,40.638577,-73.904140,1.0,0.0,1,0,0,0,0,0,Unspecified,Sedan
1004783,2022-08-07,BRONX,40.889100,-73.846270,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1005419,2022-09-05,QUEENS,40.783226,-73.842230,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Sedan
1005975,2022-09-03,QUEENS,40.700030,-73.906980,1.0,0.0,0,0,1,0,0,0,Following Too Closely,Station Wagon/Sport Utility Vehicle

In [36]:
mask2 = (Data4_df['LATITUDE'] !=0) & (Data4_df['LONGITUDE'] !=0)
Data5_df = Data4_df.loc[mask2]

In [37]:
Data5_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,VEHICLE TYPE CODE 1
37,2022-07-12,BROOKLYN,40.663303,-73.960490,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Sedan
43,2022-04-24,BROOKLYN,40.642986,-74.016210,0.0,0.0,0,0,0,0,0,0,Unspecified,Station Wagon/Sport Utility Vehicle
45,2022-04-24,BRONX,40.843906,-73.924130,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Taxi
46,2022-04-24,BRONX,40.894810,-73.861830,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
49,2022-04-24,BRONX,40.861862,-73.912750,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003759,2022-09-05,QUEENS,40.666695,-73.767136,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Pick-up Truck
1004169,2022-09-03,BROOKLYN,40.638577,-73.904140,1.0,0.0,1,0,0,0,0,0,Unspecified,Sedan
1004783,2022-08-07,BRONX,40.889100,-73.846270,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1005419,2022-09-05,QUEENS,40.783226,-73.842230,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Sedan
1005975,2022-09-03,QUEENS,40.700030,-73.906980,1.0,0.0,0,0,1,0,0,0,Following Too Closely,Station Wagon/Sport Utility Vehicle

In [38]:
Data6_df = Data5_df.rename(
    columns={"CONTRIBUTING FACTOR VEHICLE 1": "CONTRIBUTING FACTOR", "VEHICLE TYPE CODE 1":"VEHICLE TYPE", "NUMBER OF PERSONS INJURED":"PERSONS INJURED",
            "NUMBER OF PERSONS KILLED":"PERSONS KILLED","NUMBER OF PEDESTRIANS INJURED": "PEDESTRIANS INJURED", 
            "NUMBER OF CYCLIST INJURED":"CYCLIST INJURED", "NUMBER OF CYCLIST KILLED":"CYCLIST KILLED","NUMBER OF MOTORIST INJURED":"MOTORIST INJURED",
           "NUMBER OF MOTORIST KILLED": "MOTORIST KILLED", "NUMBER OF PEDESTRIANS KILLED":"PEDESTRIANS KILLED" })
Data6_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,PEDESTRIANS KILLED,CYCLIST INJURED,CYCLIST KILLED,MOTORIST INJURED,MOTORIST KILLED,CONTRIBUTING FACTOR,VEHICLE TYPE
37,2022-07-12,BROOKLYN,40.663303,-73.960490,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Sedan
43,2022-04-24,BROOKLYN,40.642986,-74.016210,0.0,0.0,0,0,0,0,0,0,Unspecified,Station Wagon/Sport Utility Vehicle
45,2022-04-24,BRONX,40.843906,-73.924130,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Taxi
46,2022-04-24,BRONX,40.894810,-73.861830,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
49,2022-04-24,BRONX,40.861862,-73.912750,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003759,2022-09-05,QUEENS,40.666695,-73.767136,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Pick-up Truck
1004169,2022-09-03,BROOKLYN,40.638577,-73.904140,1.0,0.0,1,0,0,0,0,0,Unspecified,Sedan
1004783,2022-08-07,BRONX,40.889100,-73.846270,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1005419,2022-09-05,QUEENS,40.783226,-73.842230,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Sedan
1005975,2022-09-03,QUEENS,40.700030,-73.906980,1.0,0.0,0,0,1,0,0,0,Following Too Closely,Station Wagon/Sport Utility Vehicle

In [39]:
Data6_df.reset_index(drop=True)

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,PEDESTRIANS KILLED,CYCLIST INJURED,CYCLIST KILLED,MOTORIST INJURED,MOTORIST KILLED,CONTRIBUTING FACTOR,VEHICLE TYPE
0,2022-07-12,BROOKLYN,40.663303,-73.960490,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Sedan
1,2022-04-24,BROOKLYN,40.642986,-74.016210,0.0,0.0,0,0,0,0,0,0,Unspecified,Station Wagon/Sport Utility Vehicle
2,2022-04-24,BRONX,40.843906,-73.924130,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Taxi
3,2022-04-24,BRONX,40.894810,-73.861830,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
4,2022-04-24,BRONX,40.861862,-73.912750,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42251,2022-09-05,QUEENS,40.666695,-73.767136,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Pick-up Truck
42252,2022-09-03,BROOKLYN,40.638577,-73.904140,1.0,0.0,1,0,0,0,0,0,Unspecified,Sedan
42253,2022-08-07,BRONX,40.889100,-73.846270,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
42254,2022-09-05,QUEENS,40.783226,-73.842230,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Sedan
42255,2022-09-03,QUEENS,40.700030,-73.906980,1.0,0.0,0,0,1,0,0,0,Following Too Closely,Station Wagon/Sport Utility Vehicle

In [40]:
Clean_df=Data6_df
Clean_df

,CRASH DATE,BOROUGH,LATITUDE,LONGITUDE,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,PEDESTRIANS KILLED,CYCLIST INJURED,CYCLIST KILLED,MOTORIST INJURED,MOTORIST KILLED,CONTRIBUTING FACTOR,VEHICLE TYPE
37,2022-07-12,BROOKLYN,40.663303,-73.960490,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Sedan
43,2022-04-24,BROOKLYN,40.642986,-74.016210,0.0,0.0,0,0,0,0,0,0,Unspecified,Station Wagon/Sport Utility Vehicle
45,2022-04-24,BRONX,40.843906,-73.924130,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Taxi
46,2022-04-24,BRONX,40.894810,-73.861830,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
49,2022-04-24,BRONX,40.861862,-73.912750,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003759,2022-09-05,QUEENS,40.666695,-73.767136,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Pick-up Truck
1004169,2022-09-03,BROOKLYN,40.638577,-73.904140,1.0,0.0,1,0,0,0,0,0,Unspecified,Sedan
1004783,2022-08-07,BRONX,40.889100,-73.846270,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Sedan
1005419,2022-09-05,QUEENS,40.783226,-73.842230,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Sedan
1005975,2022-09-03,QUEENS,40.700030,-73.906980,1.0,0.0,0,0,1,0,0,0,Following Too Closely,Station Wagon/Sport Utility Vehicle

In [41]:
Clean_df.to_csv("Resources/CleanData.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'Resources/CleanData.csv'

In [42]:
Clean_df.dtypes

CRASH DATE             datetime64[ns]
BOROUGH                        object
LATITUDE                      float64
LONGITUDE                     float64
PERSONS INJURED               float64
PERSONS KILLED                float64
PEDESTRIANS INJURED             int64
PEDESTRIANS KILLED              int64
CYCLIST INJURED                 int64
CYCLIST KILLED                  int64
MOTORIST INJURED                int64
MOTORIST KILLED                 int64
CONTRIBUTING FACTOR            object
VEHICLE TYPE                   object
dtype: object

In [43]:
df1= Clean_df.groupby("BOROUGH")["PERSONS INJURED"].sum()

In [44]:
df1

BOROUGH
BRONX            3410.0
BROOKLYN         6995.0
MANHATTAN        3088.0
QUEENS           5057.0
STATEN ISLAND     745.0
Name: PERSONS INJURED, dtype: float64

In [45]:
df2=Clean_df.groupby(Clean_df['CRASH DATE'].dt.month)['PERSONS INJURED'].sum()

In [29]:
df2

CRASH DATE
1     1739.0
2     1794.0
3     2458.0
4     2228.0
5     2489.0
6     2909.0
7     2853.0
8     2620.0
9      188.0
10       6.0
11       8.0
12       3.0
Name: PERSONS INJURED, dtype: float64

In [46]:
df3=Clean_df.groupby(Clean_df['BOROUGH'].dt.month)['PERSONS INJURED'].sum()

AttributeError: Can only use .dt accessor with datetimelike values